<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
  </head>
  <body ng-app="simpleTrelloApp">

    <div class="container-fluid list-wrapper">
      <div class="list-container" ng-controller="ListsController as listsCtrl">
        <div class="list" ng-repeat="(index, list) in listsCtrl.lists">
          <list-details></list-details>
          <cards></cards>
        </div>
        <div class="list text-right">
          <form class="form-inline" name="listCreateForm" novalidate ng-submit="listCreateForm.$valid && listsCtrl.createList()">
            <div class="form-group">
              <input class="form-control" type="text" required="" ng-model="listsCtrl.newList.name" placeholder="New list"/>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/angularfire/dist/angularfire.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
</body>
</html>
