<h3 class="list-name" ng-show="!list.isEditable">
  {{list.name}}
  <div class="pull-right dropdown">
    <a class="btn btn-primary btn-xs" href="#" data-toggle="dropdown">
      <i class="glyphicon glyphicon-cog"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="listsCtrl.setEditable(list, true)">Edit</a></li>
      <li><a href="#">Delete</a></li>
    </ul>
  </div>
</h3>
<form name="listEditForm" novalidate ng-show="list.isEditable" ng-submit="listEditForm.$valid && listsCtrl.saveList(list)">
  <div class="form-group">
    <input class="form-control" type="text" required="" ng-model="list.name"/>
  </div>
  <div class="text-right">
    <a class="btn btn-default btn-sm" href="#" ng-click="listsCtrl.cancelEdit(list)">Cancel</a>
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>